<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="emp/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
	
		<div class="container">
			<p class="text-center fs-1 text-custom">Employee Dashboard</p>
			<div class="row p-4">

				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/viewAssignProject">
						<div class="card paint-card">
							<div class="card-body text-center color-purple">
								<i class="fa-solid fa-bars-progress fa-2x"></i><br>
								<p class="fs-1">Project</p>
							</div>
						</div>
					</a>
				</div>

				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/leave">
						<div class="card paint-card">
							<div class="card-body text-center color-yellow">
								<i class="fa-solid fa-clipboard-question fa-2x"></i><br>
								<p class="fs-1">Annual Leave</p>
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a class="text-decoration-none bg-custom" href="/emp/helpdesk">
						<div class="card paint-card">
							<div class="card-body text-center color-red">
								<i class="fa-solid fa-circle-info fa-2x"></i><br>
								<p class="fs-1">Query</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

	</section>
</body>
</html>